div{
    height: 100px;
    width: 100px;
    background-color: blanchedalmond;
    border: 2px solid black;
    /* transition: all; */
    /* transition-duration: 2s; */
    /* transition-timing-function: steps(5); */
    /* transition-timing-function: ease-in; */
    /* transition-delay: 0.5s; */
    transition: all 2s ease-in-out 1s;
}
div:hover{
    background-color: red;
    color: white;
    font-size: 25px;
}
div:active{/* iska matlab usko click kiye hue rehna*/
    background-color: green;
    color: black;
}