div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    background-color: rgba(115,134,244,1);
}
#box3{
    /* display: none; */
    visibility: hidden;
}