h1{
    text-align: center;
    text-decoration: black wavy underline;
}
a{
    text-decoration: none;
}
#hh1{
    font-weight: 100;
}
#hh2{
    font-weight: 300;
}
#hh3{
    font-weight: 700;
}
#hh4{
    font-weight: 900;
}
#a1{
    font-family: cursive;
    line-height: 20px;
    text-transform: capitalize;
}
#one{
    font-size: 20px;
}