*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: #0f1111;
    height:60px ;
    border: white 2px solid;
}
a{
    width: 25px;
    margin-right: 200px;
    text-decoration: none ;
}
#amazonWebsite{
    color: #f08804;
}
.wh{
    color: white;
}
.content{
    height: 100px;
    width: 100px;
    border: #0f1111 2px solid;
    display: inline-block;
}
footer{
    background-color: #0f1111;
    color: white;
}
main{
    height: 600px;
    text-align: center;
}